/*=====================================================================
==========================  slider-section  =========================
========================================================================*/
section {
  margin: 30px 0 15px;
  z-index: 0;

  @include mq(max, 425){
    margin: 15px 0;
  }
}

.slider-section {
  @include full-width;
  z-index: 0;


  //owl-dots
  .owl-dots {
    margin: 0 auto 10px;
    display: table;

    .owl-dot {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: $border;
      display: inline-block;
      margin: 0 5px;

      &.active {
        background: $text-color;
      }
    }
  }

}


/*=====================================================================
==========================  End- slider-section  =========================
========================================================================*/


/*=====================================================================
==========================  Top Category  =========================
========================================================================*/
.top-category {
  @include full-width;
  background: $white;

  .title-heading {
    padding-bottom: 0;
    margin-bottom: 15px;
    @include box-shadow(0 -8px 8px rgba(0, 0, 0, 0.05));
  }
}


//title-heading
.title-heading {
  background: $white;
  padding: 15px 15px;
  @include box-shadow(0 0 8px rgba(0, 0, 0, 0.15));



  h3 {
    font-size: 21px;
    color: $black;
    @include roboto(regular400);
    text-transform: uppercase;
    //padding-left: 5px;
    padding-bottom: 18px;
    //border-bottom: 1px solid $red;

    @include mq(max, 767) {
      font-size: 18px;
    }
  }

  .line {
    width: 90px;
    height: 3px;
    background: $red;
    position: relative;
    top: -3px;
  }
}


//categroies-item
.categroies-item {
  padding: 12px;
  background: $white;
  margin-bottom: 15px;
  border: 1px solid rgb(241, 236, 236);
  @include box-shadow(0 5px 10px #00000026);
  @include transition(.5s);


  @include mq(max, 425) {
    padding: 5px;
  }


  &:hover {
    @include transform(translateY(-5px));

  }

  a {
    img {
      margin: 0 auto 15px;
      height: auto;
      width: auto;

      @include mq(max, 425) {
        height: auto;
      }
    }

    h3 {
      font-size: 18px;
      text-transform: capitalize;
      color: $black;
      @include roboto(bold700);
      text-align: center;
      margin-bottom: 15px;

      @include mq(max, 425) {
        font-size: 15px;
      }
    }
  }
}


/*=====================================================================
==========================  SecCategory-section  =========================
========================================================================*/

.SecCategory-section {
  @include full-width;
  background: rgba(241, 243, 246, 0.18);
}

//secondCategory-item
.secondCategory-item {
  position: relative;
  margin-bottom: 15px;
  @include box-shadow(0 0 8px rgb(0, 0, 0));
  @include transition(.5s);

  a {
    img {
      width: 100%;
      height: 350px;
      margin: 0 auto;

      @include mq(max, 767) {
        height: auto;
      }
    }

    h3 {
      @include img-center(both);
      width: 100%;
      -webkit-text-stroke: 1px $white;
      text-transform: uppercase;
      font-size: 100px;
      margin: 0;
      color: transparent;
      font-family: fantasy;
      text-align: center;


      @include mq(max, 480) {
        font-size: 24px;
      }
    }
  }

  &:hover {
    @include transform(translateY(-5px));
  }
}


/*=====================================================================
==========================  product-section-section  =========================
========================================================================*/

.product-section {
  @include full-width;

  .container-fluid{
    @include mq(max, 425){
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .title-heading {
    padding: 15px 15px 0;
    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.15));




    h3 {
      color: $black;
      border-bottom: none;
    }

    .line {
      display: none;
    }
  }


  .owl-nav {

    .owl-next, .owl-prev {
      position: absolute;
      top: -10%;
      transform: translateY(-50%);
      background: $red;
      padding: 5px 15px;
      border: 1px solid $red;
      color: $white;
      @include transition(.5s);
      cursor: pointer;


      &:hover {
        background: $white;
        color: $red;
      }

      @include min-max(768, 991) {
        top: -19%;
      }

      @include mq(max, 767) {
        top: -15%;
        display: none;
      }

      @include mq(max, 425) {
        top: -21.5%;
      }
    }

    .owl-next {
      right: 15px;

      @include mq(max, 425) {
        right: 0;
      }
    }

    .owl-prev {
      right: 65px;

      @include mq(max, 425) {
        right: 50px;
      }
    }
  }

}


//productSilder
.productSilder {
  border: 1px solid rgb(241, 236, 236);
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
  background: $white;
}

//slied-product
.slied-product {
  border: 1px solid transparent;
  padding: 15px 15px 25px;
  text-align: center;
  overflow: hidden;
  background: $white;
  min-height: 295px;

  @include mq(max, 992) {
    min-height: auto;
    padding: 10px;
  }

  @include mq(max, 425) {
    border-right: 1px solid $lightgray;
  }

  a {
    img {
      height: 154px;
      margin: 0 auto 15px;
      width: auto !important;
      @include transition(.5s);


      @include mq(max, 425) {
        height: auto;
      }
    }

    h3 {
      font-size: 13px;
      color: $black;
      @include roboto(regular400);
      margin-bottom: 10px;
      text-align: center;
    }
  }

  a {
    color: $red;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    color: $gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
  }

  //wishlist
  .wishlist {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 99;
    font-size: 15px;

    @include mq(max, 425){
      right: 10px;
    }

    &.active {
      .fa-heart-o {
        &:before {
          content: "\f004";
        }
      }
    }
  }

  //tag-offer
  .tag-offer {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 3px 15px;
    border-radius: 4px;
    color: $white;
    transform: rotate3d(-5, 1, 1, 29deg);

    &.bg-red{
      background: $red;
    }

    &.bg-green{
      background: green;
    }
  }

  .tag-percentage{
    color: $red;
    font-weight: 100;
    font-size: 13px;
  }

  //notification-bell
  .notification-bell {
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    position: absolute;
    left: 0;
    top: 0;

    a {
      color: $white;
      position: absolute;
      top: -57px;
      left: 8px;
      display: inline-block;
      transform: rotate(-43deg);
      line-height: 1.3;
      font-weight: 400;
      font-size: 12px;
    }

    //bg-yellow
    &.bg-yellow{
      border-top: 60px solid $yellow;
    }
    //bg-red
    &.bg-red{
      border-top: 60px solid $red;
    }
    //bg-green
    &.bg-green{
      border-top: 60px solid green;
    }
  }

  .price-details {
    position: relative;
    top: 0;
    background: $white;
    padding-top: 10px;
    @include transition(.5s);
  }


  &:hover {
    border-color: rgba(218, 34, 52, 0.18);
    @include box-shadow(0 1px 6px 0 rgba(32, 33, 36, 0.28));


    //add-cart
    .add-cart {
      display: block;
    }

    img {
      @include transform(scale(1.1));
    }
  }

  //end-product
  &.end-product {
    padding: 90px 15px 70px;

    @include mq(max, 425) {
      padding: 61px 10px;
    }

    .arrow-icon {
      display: block;

      .fa.fa-arrow-right {
        font-size: 72px;
        background: $white;
        color: $red;
        border-radius: 100%;
        padding: 20px 30px;
        width: 120px;
        height: 120px;
        text-align: center;
        margin-bottom: 30px;
        @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
      }
    }

    //btn-all-product
    .btn-all-product {
      font-size: 15px;
      @include roboto(bold700);
      text-transform: uppercase;
    }
  }
}


/*========================================================================================================
================================ ads-image ===================================================================
===========================================================================================================*/
.ads-image {
  @include full-width;

  &.ads-categorie {
    .bg-adsImg {
      padding: 33px;
    }
  }
}

//bg-adsImg
.bg-adsImg {

  &.adsbg1 {
    background-image: url("../img/ads1.jpg");

    @include mq(max, 992) {
      margin-bottom: 30px;
    }


  }

  &.adsbg2 {
    background-image: url("../img/ads2.jpg");

    h3, h4 {
      color: $white;
    }


  }

  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 87px;
  background-position: right;
  @include box-shadow(0 0 8px $black);
  @include transition(.5s);


  &:hover {
    @include transform(scale(1.01));
  }


  @include mq(max, 1000) {
    padding: 60px;
  }

  @include mq(max, 570) {
    padding: 60px 30px;
  }

  @include mq(max, 425) {
    padding: 30px;
  }


  h3 {
    font-size: 22px;
    @include roboto(light100);
    color: $black;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 30px;

    @include mq(max, 425) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 29.1px;
    @include montserrat(medium500);
    text-transform: uppercase;
    letter-spacing: -1.3px;
    margin-bottom: 35px;

    @include mq(max, 767) {
      font-size: 24px;
    }

    @include mq(max, 425) {
      font-size: 20px;
    }
  }

  .btn-ads {
    font-size: 15px;
    text-transform: uppercase;
    @include montserrat(medium500);
    @include border-radius(0);
    padding: 8px 36px;
    height: 40px;

    @include mq(max, 414) {
      padding: 8px 0;
      width: 100%;
    }

    @include mq(max, 383) {
      font-size: 12px;
      padding: 10px;
      height: 41px;
    }

    &.btn-black {
      color: $white;
      background-color: $lblk-button;

      &:hover {
        background: $red;
        color: $white;
      }
    }

    &.btn-yellow {
      background: $red;
      color: $white;

      &:hover {
        color: $white;
        background-color: $lblk-button;
      }
    }
  }
}

/*========================================================================================================
================================ end-ads-image ===================================================================
===========================================================================================================*/


//eqal-secImg
.eqal-secImg {
  margin-bottom: 30px;
  @include box-shadow(0 0 8px $black);
  overflow: hidden;

  @include mq(max, 767) {
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    @include transition(.5s);

    @include mq(max, 767) {
      height: auto;
    }
  }

  &:hover {
    img {
      @include transform(scale(1.03));
    }
  }
}


/*========================================================================================================
================================ fast-delivery ===================================================================
===========================================================================================================*/
.fast-delivery {
  @include full-width;
  margin-bottom: 0;

  .container-fluid {
    padding: 0;

    .row {
      margin: 0;


      .col-md-12 {
        padding: 0;
      }
    }
  }

  .fast-delivery-ul {
    display: flex;
    justify-content: space-around;
    padding: 50px 15px 15px;
    background: #da22341c;
    align-items: center;

    li {
      display: inline-block;
      width: 100%;
      border-right: 1px solid $red;
      padding: 0 15px;

      &:last-child {
        border-right: none;
      }

      img {
        margin: 0 auto;
      }

      a {
        text-align: center;
        color: $black;
        font-size: 15px;
        @include roboto(bold700);
        text-transform: capitalize;
        display: block;


        @include mq(max, 630) {
          font-size: 13px;
        }
      }
    }
  }
}

//title-fast-delivery
.title-fast-delivery {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: $red;
  }

  h3 {
    font-size: 21px;
    color: $white;
    @include roboto(regular400);
    text-transform: uppercase;
    text-align: center;
    display: table;
    margin: 0 auto;
    background: $red;
    padding: 15px 30px;
    border-radius: 50px;
    position: relative;
    top: 25px;


    @include mq(max, 767) {
      font-size: 18px;
    }
  }
}


@include mq(max, 425) {
  .row {
    margin-right: -8px;
    margin-left: -8px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 8px;
    padding-right: 8px;
  }

}
