//Color-Variable
$white: #fff;
$black: #000;
$lightblack: #666;
$lblk-btn: #424242;
$yellow: #ff9600;
$red: #e50000;
$lightred: #ff4646;
$lightgray: #f5f5f5;
$border: #d0cdcd;
$shadow: #00000026;
